<div class="main_header">
  <div class="chat_outline">hogehuga</div>
  <div class="chat_end"><a href="#">チャットを終了する</a></div>
</div> 
<div class="chat_space">
  <div class="chat">
    <div class="chat_top">
     <div class="chat_user_name">Tom</div>
     <div class="chat_date">2020/3/31(Wed) 12:43:30</div>
    </div> 
    <div class="chat_message">おはよう</div>
  </div>
  <div class="chat">
    <div class="chat_top">
     <div class="chat_user_name">Sim</div>
     <div class="chat_date">2020/3/31(Wed) 12:43:30</div>
    </div> 
    <div class="chat_message">おはよう</div>
  </div>
</div>
<div class="message">
   <div class="comment">
    <input type="text"  placeholder="type a message" class="comment_sentence">
    <lavel class="comment_image">
     <span class="image_file">画像</span>
     <input type="file" class="hidden">
    </lavel>
   </div>
   <input type="submit"  value="送信" class="submit_btn">
</div>